body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    background-color: #161616;
    margin: 60px 120px;
    border-radius: 30px;
    display: flex;
}

.title {
    padding: 93px 101px;
}

h1 {
    color: #FFFFFF;
    font-size: 40px;
}

.title p {
    color: #FFFFFF;
    font-size: 15px;
    padding-bottom: 10px;
}

button {
    background-color: #d08b22;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #d08b22;
    font-weight: 700;
}

button span {
    padding-left: 10px;
}

.images {
    width: 50%;
    padding-left: 2%;


}

.images img {
    width: 80%;
    padding: 2%;

}

/*   banner ends */

/*  button-fixture starts */
.aside {

    display: flex;
    justify-content: space-around;
    margin: 24px 107px;
    background-color: white;
    padding-left: 10px;
    border-radius: 10px;
    flex-basis: 400px;


}

.aside-left {
    background-color: black;
    height: 200px;
    padding: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;

}

.upcoming-match .btn {

    font-weight: bold;
    width: 150px;
    margin-left: 20px;
    height: 38px;
    margin-top: 12px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.upcoming-match .btn:hover {
    background-color: #d08b22;
}

.all-group .btn1 {
    font-weight: bold;
    width: 150px;
    margin-left: 20px;
    height: 38px;
    margin-top: 12px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.all-group .btn1:hover {
    background-color: #d08b22;
}

.blog .btn2 {
    font-weight: bold;
    width: 150px;
    margin-left: 20px;
    height: 38px;
    margin-top: 12px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    ;
}

.blog .btn2:hover {
    background-color: #d08b22;
}

.btn-field {

    display: inline-block;

}

/*  button-fixture ends 
    */
.aside-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 100px;
    border-radius: 20px;

}

.upcomming-match {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 362px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.match-flag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.match-flag span h1 {
    font-size: 14;
    color: #161616;
}

.match-siduil h1 {

    font-size: 14px;
    color: #161616;
    padding-right: 45px;
}

.match-siduil p {
    font-size: 14px;
    color: #161616;
    padding-right: 45px;
}

.match-siduil h1,
p {
    margin-bottom: 25px;
    margin-left: 22px;
    text-align: center;
}

.footer-distributed {
    background: black;
    text-align: center;
    padding: 55px 50px;
}

.footer {
    color: white;
}

.footer h2 {
    padding-right: 6.5%;
}

.hr-line {
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: grey;
    margin: 20px 20px;
}

.footer-links {
    display: flex;
    justify-content: center;

}

.footer-links a {
    text-decoration: none;
    color: grey;
    margin: 20px 20px;

}

.footer-links a:hover {
    border: 2px solid #d08b22;
    padding: 10px;
    border-radius: 10px;
}

.social {
    color: white;
    font-size: 40px;
    margin: 40px;
}

.social-icon {
    padding-right: 5.5%;
}


/* footer ends */
/* media queries */
@media only screen and (max-width: 688px) {

    .top-banner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

    }

    .aside {
        width: 100%;
        flex-direction: column;
        margin-left: 130px;
        align-items: center;
        margin-bottom: 18%;

    }

    .aside-right {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-distributed {

        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 12%;

    }

    .footer-distributed h2 {
        margin-left: 55%;
    }

    .footer-links {
        flex-direction: column;

        flex-wrap: wrap;
    }

    .footer-links a {
        padding-left: 10%;
    }

    .hr-line {
        width: 100%;
        height: 1px;
        margin: 5px 5px;
        background-color: grey;
        margin: 10px 10px;
    }

    .footer h2 {
        margin-left: 20%;

    }


    .social-icon {
        margin-left: 60%;
        margin-left: 20%;
    }

}